# Data Structures in python

### 1 Write  a code to reverse a string

In [1]:
my_str="hello i am rupali"
my_str[::-1]

'ilapur ma i olleh'

### 2 Write a code to count the number of vowels in a string.

In [67]:
count_vowel="i love to code in jupyter"
count=0
for i in count_vowel:
    if i in "aeiou":
        count+=1
print(count)

9

### 3  Write code to check  if  given string is  palindrome or not

In [75]:
def check_palindrome(a):
    if a[::1]==a[::-1]:
        result="true"
    else:
        result="false"
    return(result)

In [76]:
check_palindrome("mom")

'true'

In [77]:
check_palindrome("rupali")

'false'

In [79]:
check_palindrome("16461")

'true'

In [80]:
check_palindrome("1646123")

'false'

### 4 Write a code to check if two given string are anagrams of each other

In [104]:
str1="listen"
str2="silent"

In [126]:
def check_anagrams(a,b):
    a=a.lower().replace(" ","")
    b=b.lower().replace(" ","")
    if sorted(a)==sorted(b):
        result=True
    else:
        result=False
    return(result)

In [127]:
check_anagrams(str1,str2)

True

In [128]:
str3="hello"
str4="world"

In [129]:
check_anagrams(str3,str4)

False

### 5 Write a code to find all occurrences of  given substring within another string

In [7]:
str1= "this is my first line coding "
str2= "this  this is is is"
common_dict={}
count=0
for i in str2.split():
    if i in str1.split():
        common_dict[i]=count+1
    result=common_dict
print(result)

{'this': 1, 'is': 1}

### 6 Write a code to perform basic string compression using the counts of repeated characters

In [2]:
my_str = "aaaabbbcc"
my_str_1 = ""
count = 1

for i in range(1, len(my_str)):
    if my_str[i] == my_str[i - 1]:
        count += 1
    else:
        my_str_1 += my_str[i - 1] + str(count)
        count = 1


my_str_1 += my_str[-1] + str(count)

print(my_str_1)

a4b3c2

In [67]:
 my_str_1 += my_str[i - 1] + str(count)

In [68]:
 my_str_1

'a4b3c2c2c2c2c2c2'

### 7 Write a code to determine if a string has all unique characters.

In [24]:
def unique_char(my_str):
    if len(my_str) ==len(set(my_str)):
        result="unique characters"
    else:
        result="not unique characters"
    return(result)

In [27]:
unique_char("hello")

'not unique characters'

In [28]:
unique_char("world")

'unique characters'

### 8 Write a code to convert given string to uppercase or lowercase.

In [16]:
my_str= "we are trying to build advance concept in python"
my_str.upper()

'WE ARE TRYING TO BUILD ADVANCE CONCEPT IN PYTHON'

In [17]:
my_str.lower()

'we are trying to build advance concept in python'

### 9 Write a code to count the number of words in a string

In [29]:
string= "we are trying to build advance concept in python"

In [31]:
string=string.split()
count=0
for word in string:
    count+=1
print(count)

9

### 10 Write a code to concatenate two strings without using the + operetor

In [32]:
str1="welcome"
str2="to india"
con_str= "".join([str1," ",str2])

In [33]:
con_str

'welcome to india'

### 11 Write  code to remove all occurences of specific element from the list

In [39]:
list_1=[1,2,3,45,5,2,5,2]
element_to_remove=2

In [45]:
[ i for i in list_1 if i!=element_to_remove ]

[1, 3, 45, 5, 5]

### 12  Implement code to find the second largest number in given list of integers.

In [72]:
def find_second_largest(nums):
    nums=sorted(nums)
    result=nums[-2]
    return(result)

In [73]:
nums=[34,23,12,54,22]
find_second_largest(nums)

34

### 13 Create a code to count the occurence of each element in list and return dictionary with element as a keys and their counts as values

In [54]:
my_list=["orange","apple","banana","apple","apple"]
dic={}
count=1
for i in my_list:
    if i not in dic:
        dic[i]=count
    else:
        dic[i]=count+1
print(dic)

{'orange': 1, 'apple': 2, 'banana': 1}

### 14 Write a code to reverse a list in-place without using any built-in reverse functions.

In [58]:
l=[1,2,3,45,"hii"]

In [59]:
l[::-1]

['hii', 45, 3, 2, 1]

### 15 Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [62]:
l=[1,2,1,3,4,"hello","world","coding","world"]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
l1

[1, 2, 3, 4, 'hello', 'world', 'coding']

### 16 Create a code to check if a given list is sorted (either in ascending or desending order) or not

In [77]:
l=[4,2,43,21,12,45]
def check_list(l):
    if l==sorted(l) or l== sorted(l,reverse=True):
        result=True
    else:
        result=False
    return(result)

In [78]:
check_list(l)

False

In [79]:
check_list([1,2,3,4])

True

In [80]:
check_list([4,3,2,1])

True

### 17 Write a code to merge two sorted list into single sorted list

In [51]:
def sorted_list(l,l1):
    sorted_list_1=sorted(l)
    sorted_list_2=sorted(l1)
    final_list=sorted(sorted_list_1 + sorted_list_2)
    return(final_list)

In [53]:
sorted_list([4,3,5,1],[9,6,8,1,2])

[1, 1, 2, 3, 4, 5, 6, 8, 9]

### 18 Implement a code to find the intersection of two given lists.

In [57]:
list_1=[4,3,5,1,3,5]
list_2=[5,4,3,7,5,2]
result=set(list_1).intersection(set(list_2))
print(list(result))

[3, 4, 5]

### 19 Create a code to find the union of two lists without duplicates

In [83]:
list_1=[4,3,5,1,3,5]
list_2=[5,4,3,7,5,2]
result=set(list_1).union(set(list_2))
print(list(result))

[1, 2, 3, 4, 5, 7]

### 20 Write a code to shuffle given list randomly without using any built-in shuffle functions.

In [31]:
def shuffle_list(a):
    shuffled_list=[]
    while len(shuffled_list)<len(a):
        result=random.choice(a)
        if result not in shuffled_list:
            shuffled_list.append(result)
    return(shuffled_list)

In [32]:
l=[1,2,3,4,5,23]
shuffle_list(l)

[1, 5, 4, 23, 2, 3]

### 21 Write a code that takes two tuples as input and returns new tuple containing elements that are common to both input tuples

In [59]:
def my_tup(tup_1,tup_2):
    common_element=set(tup_1).intersection(tup_2)
    result=tuple(common_element)
    return(result)

In [61]:
a=("delhi","kolkata","ranchi")
b=("ranchi","delhi","patna")   
my_tup(a,b)

('delhi', 'ranchi')

### 22 Create code that prompts the user to enter two sets of integers seperated by commas. Then print the intersection of these two sets.

In [63]:
def set_intersection(int_set_1,int_set_2):
    common_elem=set(int_set_1).intersection(set(int_set_2))
    result=common_elem
    str_result=str(result).replace(",", " ")
    return(str_result)

In [65]:
set_intersection({1,2,3,4},{5,6,7,43,3})

'{3}'

###  23.Write a code to concatenate two tuples. The function should take two tuples as input and return  new tuple containing elements from both input tuples.

In [103]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

In [104]:
concatenate_tuples((1,2,3),(4,5,6))

(1, 2, 3, 4, 5, 6)

### 24. Develop a code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set.

In [75]:
def string_set(string_1,string_2):
    elem_of_string_1=string_1.split()
    elem_of_string_2=string_2.split()
    result=set(elem_of_string_1) - set(elem_of_string_2)
    return(result)

In [77]:
string_set("hello world this is my jupyter notebook"
,"hello i am rupali working on jupyter here")

{'is', 'my', 'notebook', 'this', 'world'}

### 25 Write a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [79]:
def sub_tuple(tup,start_index,end_index):
    new_tuple=tup[start_index:end_index]
    result=new_tuple
    return(result)

In [81]:
sub_tuple((2,3,4,5,6,3,5),1,4)

(3, 4, 5)

### 26 Write a code that prompts the user to input two sets of character. Then print the union of these two sets.

In [85]:
def set_union(a,b):
    set_=set(a).union(set(b))
    result=set_
    return(result)

In [86]:
set_union({1,3,2},{4,3,2,5})

{1, 2, 3, 4, 5}

### 27 develop a code that takes tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpaking

In [104]:
def find_max_min_value(a):
    max_tup,min_tup=max(a),min(a)
    result= max_tup,min_tup
    return(result)

In [105]:
#a=tuple(23,43,22,12,44)
find_max_min_value((23,43,22,12,44))

(44, 12)

### 28 create a code that defines two sets of integers. Then print the union,intersection and difference of theses two sets.

In [106]:
def integers_set(a,b):
    union=a.union(b)
    intersection=a.intersection(b)
    difference=a-b
    result=union,intersection,difference
    return(result)

In [107]:
integers_set({2,31,33,11},{32,44,54,31})

({2, 11, 31, 32, 33, 44, 54}, {31}, {2, 11, 33})

### 29 Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given elemets in the tuple.

In [83]:
def count_occurence_tuple(tup,elem):
    count=0
    for i in tup:
        if elem == i:
            count+=1
    result=count
    return(result)

In [85]:
count_occurence_tuple((4,4,4,4,4,3,1,1,1),4)

5

### 30 develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of these two sets

In [116]:
def symmetric_diff(a,b):
    union=a.union(b)
    intersection=a.intersection(b)
    result=union-intersection
    return(result)

In [118]:
symmetric_diff({"orange","banana","apple","pine","dates"},{"apple","melon","cashew","orange"})

{'banana', 'cashew', 'dates', 'melon', 'pine'}

### 31 Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencis of those words in the input list

In [12]:
def word_freq(a):
    word_dict={}
    count=1
    for i in a:
        if i not in word_dict:
            word_dict[i]=count
        elif i in word_dict:
            word_dict[i]=count+1
        result=word_dict
    return(result)

In [13]:
word_freq(["ravi","jiya","tina","ayush","jiya","jiya","ravi"])

{'ravi': 2, 'jiya': 2, 'tina': 1, 'ayush': 1}

### 32 Write a code that takes two dictionaries as input and merges them into a single dictionary If there arecommon keys the values should be added together

In [9]:
def my_dic(dict_1,dict_2):
    merged_dict=dict_1.copy()
    for key,value in dict_2.items():
        if key in merged_dict:
            merged_dict[key]+=value
        else:
            merged_dict[key]=value
        result=merged_dict    
    return(result)

In [11]:
my_dic({"a":2,"b":1,"c":4},{"a":3,"d":6,"e":8})

{'a': 5, 'b': 1, 'c': 4, 'd': 6, 'e': 8}

### 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary the function should return None.

In [22]:
def get_nested_value(nested_dict, key_list):
    current_dict=nested_dict
    for key in key_list:
        if key in current_dict:
            current_dict=current_dict[key]
            result=current_dict
        else:
           result=None
    return(result)       
     
test_dict = {"a": {"b": {"c": 10}}}
keys = ["a", "b", "c"]

get_nested_value(test_dict, keys)

10

### 34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [89]:
def sort_values(dic):
    result = {}
    for key, value in dic.items():
        result[key] = sorted(value)
    return result
cities={"paris":[2,3, 1], "london":[3,2, 6], "england": [4,6,3]}    
sort_values(cities)

{'paris': [1, 2, 3], 'london': [2, 3, 6], 'england': [3, 4, 6]}

### 35 Write a code that inverts a dictionary swapping keys and values Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [123]:
#my_dict = {"a": 1, "b": 2, "c": 1}
#Output: {1: ['a', 'c'], 2: ['b']}
def invert_dictionary(input_dict):
    inverted_dict = {}
    for key,value in input_dict.items():
        if value not in inverted_dict:
            inverted_dict[value]=[]
        inverted_dict[value].append(key)
    return(inverted_dict)       
    
#invert_dictionary(my_dict)
# Example usage:
my_dict = {"a": 1, "b": 2, "c": 1}
inverted_dict = invert_dictionary(my_dict)
print(inverted_dict)  # Output: {

{1: ['a', 'c'], 2: ['b']}

In [111]:
def invert_dictionary(input_dict):
  inverted_dict = {}
  for key, value in input_dict.items():
    if value not in inverted_dict:
      inverted_dict[value] = []
    inverted_dict[value].append(key)
  return inverted_dict

# Example usage:
my_dict = {"a": 1, "b": 2, "c": 1}
inverted_dict = invert_dictionary(my_dict)
print(inverted_dict)  # Output: {1: ['a', 'c'], 2: ['b']}

{1: ['a', 'c'], 2: ['b']}

In [113]:
inverted_dict = invert_dictionary(my_dict)

In [115]:
inverted_dict

{1: ['a', 'c'], 2: ['b']}

In [125]:
a= inverted_dict[value]
a

NameError: name 'value' is not defined